body {
    background: bisque;
}
.flex-container{
    display: flex;
    background-color: rgb(170, 165, 165);
    justify-content: space-around;
    align-items: center;
    margin: 2px;
    border: 5px solid;
    border-radius: 50px;
    height: 50px;
}

.flex-item{
    border: 5px dotted ;
    border-radius: 10px;
    padding: 2vw;
    margin: 5px; 
}